@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

input {}

header {
    margin: 20px 30px;
    text-align: center;
    box-shadow: 1px 5px 11px rgb(0, 0, 0, 0.3);
}

header .logo {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

header,
#main-footer div {
    border-radius: 20px;
    background: linear-gradient(to bottom,
            rgb(224, 223, 223) 0%,
            rgba(249, 249, 249, 1) 100%);
    width: 200px;
    font-style: italic;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

form {
    margin: 0px 0px 20px 0px;
}

#entry,
#search {
    padding: 5px;
    border-radius: 15px;
    margin: 10px 0px;
    border: none;
    outline: none;
    font-style: italic;
}

#entry {
    width: 400px;
    background: linear-gradient(to bottom,
            rgb(224, 223, 223) 0%,
            rgba(249, 249, 249, 1) 100%);
}

#search {
    cursor: pointer;
}

#notification {
    border-radius: 20px;
    background: linear-gradient(to bottom,
            rgb(224, 223, 223) 0%,
            rgba(249, 249, 249, 1) 100%);
    font-style: italic;
    margin: 0px 0px 25px 0px;
    padding: 5px 10px 5px 10px;
}

#current-weather {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hourly-weather {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    margin: 10px 5px 5px 5px;
    width: 810px;
}

#daily-weather {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: 10px 10px 10px 10px;
    width: 850px;
}

#hourly-weather,
#daily-weather {
    overflow: auto;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: auto;
}

#weather {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom,
            rgb(224, 223, 223) 0%,
            rgba(249, 249, 249, 1) 100%);
    padding: 20px 20px;
    margin: 0px 0px 20px 0px;
    width: 850px;
    border-radius: 20px;
    box-shadow: 1px 10px 11px rgb(0, 0, 0, 0.3);
}

.hourly-weather-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(250, 245, 245, 0.5);
    width: 125px;
    margin: 0px 10px 20px 0px;
    border-radius: 10px;
    padding: 0px 0px 5px 0px;
    box-shadow: 1px 8px 11px rgb(0, 0, 0, 0.3);
}

.daily-weather-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 200px;
    margin: 0px 10px 20px 0px;
    border-radius: 10px;
    padding: 5px 0px;
    box-shadow: 1px 8px 11px rgb(0, 0, 0, 0.3);
}

h1,
p {
    text-align: center;
}

p {
    font-style: normal;
}

h1 {
    font-size: 2rem;
}

#temp {
    font-size: 2em;
    font-weight: 700;
}

#main-footer div {
    padding: 5px;
    text-align: center;
    margin: 0px auto 30px auto;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -20%;
    }

    45% {
        margin-left: -20%;
    }

    50% {
        margin-left: -50%;
    }

    70% {
        margin-left: -50%;
    }

    75% {
        margin-left: -100%;
    }

    100% {
        margin-left: -100%;
    }
}

@media (min-width: 991px) and (min-height: 600px) {
    #daily-weather {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-height: 991px) {
    #daily-weather {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 991px) {
    #daily-weather {
        max-width: 675px;
    }

    #hourly-weather {
        max-width: 640px;
    }

    #weather {
        max-width: 675px;
    }
}

@media (max-width: 715px) {
    #entry {
        width: 300px;
    }

    #daily-weather {
        max-width: 460px;
    }

    #hourly-weather {
        max-width: 440px;
    }

    #weather {
        max-width: 460px;
    }
}

@media (max-width: 480px) {
    #entry {
        width: 200px;
    }

    #daily-weather {
        max-width: 290px;
    }

    #hourly-weather {
        max-width: 290px;
    }

    #weather {
        max-width: 290px;
    }
}

@media (max-width: 340px) {
    #weather {
        max-width: 260px;
    }

    #daily-weather {
        max-width: 260px;
    }

    #hourly-weather {
        max-width: 260px;
    }
}

@media (max-width: 280px) {
    #entry {
        width: 150px;
    }

    #weather {
        max-width: 250px;
    }

    #daily-weather {
        max-width: 250px;
    }

    #hourly-weather {
        max-width: 250px;
    }
}